/* Layout for the "My Account" overlay */

#my-account
{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    padding: 0.9375rem 0.625rem;
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

@media only screen and (max-width: 640px)
{
    #my-account
    {
        width: 100%;
    }
}