/* Generic background styles */

.background-photo
{
    background: #026A7B url(../images/background-photo.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.background-dark
{
    background: #026A7B;
}

.background-light
{
    background: #fff;
}

.background-teal
{
    background: #2285AA;
}

.background-dark-teal
{
    background: #52758B;
}

.background-teal-overlay
{
    background: rgba(82, 117, 139, 0.2);
}

.background-purple
{
    background: #A43475;
}

.background-green
{
    background: #A2B92C;
}

.background-white
{
    background: #fff;
}

.background-gold-overlay
{
    background: rgba(253, 180, 41, 0.2);
}