/* Control the appearance of elements at various breakpoints */


.breakpoint /* This is used to detect breakpoints in javascript. See responsive.js */
{
    display: none;
    font-weight: 600;
}

@media only screen and (min-width: 769px)
{
    .only-small,
    .only-medium,
    .hide-large
    {
        display: none;
    }
    
    .only-large
    {
        display: block;
    }
}

@media only screen and (max-width: 768px)
{
    .breakpoint
    {
        font-weight: 400;
    }
    
    .only-small,
    .only-large,
    .hide-medium
    {
        display: none;
    }
    
    .only-medium
    {
        display: block;
    }
}

@media only screen and (max-width: 640px)
{
    .breakpoint
    {
        font-weight: 200;
    }
    
    .only-large,
    .only-medium,
    .hide-small
    {
        display: none;
    }
    
    .only-small
    {
        display: block;
    }
}