/* Button form and skins */

.button
{
    display: inline-block;
    border-radius: 3px;
    padding: 0.5rem 0.75rem;
}

.button.small
{
    padding: 0.25rem 0.5rem;
}

.button.full
{
    width: 100%;
    text-align: center;
}

.button.raised
{
    background-color: #EEF1F4;
    color: #52758B;
    box-shadow: #91979C 0 1px 2px 0;
}

.button.raised:hover,
.button.raised:active
{
    background-color: #52758B;
    color: #fff;
    box-shadow: none;
}

.button.hover-invert
{
    background-color: #fff;
    color: #2F8A97;
}

.button.hover-invert:hover
{
    color: #fff;
    background-color: #2F8A97;
}