/* Visiblity states for collapsable content and toggles */

.collapse-toggle .collapsed-content
{
    display: none;
}

.collapse-toggle.collapsed .collapsed-content
{
    display: block;
}

.collapse-toggle.collapsed .expanded-content
{
    display: none;
}

.collapsable.collapsed
{
    display: none;
}