/* Foreground colors */

.color-blue
{
    color: #52758B;
}

.color-cold-teal
{
    color: #478192;
}

.color-teal
{
    color: #2F8A97;
}

.color-dark-teal
{
    color: #026A7B;
}

.color-dark-gray
{
    color: #4A4A4A;
}

.color-gray
{
    color: #5C5B59;
}

.color-light-gray
{
    color: #D2D6D9;
}

.color-cold-gray
{
    color: #656D78;
}

.color-light-cold-gray
{
    color: #91979C;
}

.color-gold
{
    color: #FDB429;
}

.color-white
{
    color: #FFF;
}

.stroke-white
{
    stroke: #fff;
}
