/* Layout of content area */

#personal-message
{
    position: absolute;
    top: 3.75rem;
}

#content
{
    position: relative;
    margin-top: 8rem;
}

#personal-message,
#content
{
    margin-left: 3.125rem;
    padding: 0 1.25rem;
}

@media only screen and (max-width: 640px)
{
    #personal-message,
    #content
    {
        margin-left: 0;
    }
}