/* Generic container forms and skins */

.container
{
    position: relative;
    border-radius: 3px;
    background-color: #fff;
}

.container.square
{
    border-radius: 0;
}

.container.thumbnail
{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid currentColor;
}

.container.thumbnail > *
{
    display: block;
}

.container.shadow
{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 1px 1px 1px rgba(0,0,0,0.05);
}

.container.border
{
    border: 1px solid currentColor;
}

.container.border-right
{
    border-right: 1px solid currentColor;
}

.container-header
{
    border-radius: 3px;
    background: rgba(82, 117, 139, 0.1);
    margin: 2px 2px 0 2px;
    position: relative;
    top: 2px;
    padding: 0.75rem;
}

.container-header .hovered
{
    display: none;
}

.container-header:hover .hovered
{
    display: block;
}

.container-body
{
    padding: 1rem;
}

.container.ghost
{
    background: rgba(255,255,255,.85);
    box-shadow: rgba(74,74,74,0.2) 0 1px 2px 0;
}

.container.ghost .container-header
{
    background: rgba(255,255,255,0.6);
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #fff;
    margin: 2px 0 0 0;
    top: 0;
    padding: 0.75rem;
}