/* Brand fonts */

@font-face
{
    font-family: 'agendalight';
    src: url('../fonts/light-webfont.eot');
    src: url('../fonts/light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/light-webfont.woff') format('woff'),
         url('../fonts/light-webfont.ttf') format('truetype'),
         url('../fonts/light-webfont.svg#agendalight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: 'agendamedium';
    src: url('../fonts/medium-webfont.eot');
    src: url('../fonts/medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/medium-webfont.woff') format('woff'),
         url('../fonts/medium-webfont.ttf') format('truetype'),
         url('../fonts/medium-webfont.svg#agendamedium') format('svg');
    font-weight: 400;
    font-style: normal;
}
