/* CSS-based data visualizations */

.stacked-bar .bar-group
{
    display: block;
    height: 1rem;
}

.stacked-bar .bar
{
    display: block;
    float: left;
    height: 100%;
    background-color: gray;
}

.stacked-bar .bar-marker
{
    display: block;
    position: relative;
    width: 3.1875rem;
    height: 4.5rem;
    margin-bottom: -6px;
}

.legend-key
{
    display: inline-block;
    margin-right: 1rem;
    line-height: 0.75rem;
}

.legend-key-color
{
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 40px;
    vertical-align: middle;
    margin-right: 0.25rem;
}