/* A simple liquid, responsive and nestable grid system */

.row:before,
.row:after
{
    content: " ";
    display: table;
}

.row:after
{
    clear: both;
}

.column
{
    display: block;
    float: left;
}

.size-1-1,
.size-2-2,
.size-3-3,
.size-4-4,
.size-5-5
{
    width: 100%;
}

.size-1-2,
.size-2-4
{
    width: 50%;
}

.size-1-3
{
    width: 33.3333%;
}

.size-2-3
{
    width: 66.6666%;
}

.size-1-4
{
    width: 25%;
}

.size-3-4
{
    width: 50%;
}

.size-1-5
{
    width: 20%;
}

.size-2-5
{
    width: 40%;
}

.size-3-5
{
    width: 60%;
}

.size-4-5
{
    width: 80%;
}

.offset-1-1,
.offset-2-2,
.offset-3-3,
.offset-4-4,
.offset-5-5
{
    margin-left: 100%;
}

.offset-1-2,
.offset-2-4
{
    margin-left: 50%;
}

.offset-1-3
{
    margin-left: 33.3333%;
}

.offset-2-3
{
    margin-left: 66.6666%;
}

.offset-1-4
{
    margin-left: 25%;
}

.offset-3-4
{
    margin-left: 50%;
}

.offset-1-5
{
    margin-left: 20%;
}

.offset-2-5
{
    margin-left: 40%;
}

.offset-3-5
{
    margin-left: 60%;
}

.offset-4-5
{
    margin-left: 80%;
}

@media only screen and (max-width: 768px)
{
    .column
    {
        width: 100%;
        margin-left: 0;
    }
}