/* Layout of main page header */

#main-header
{
    position: fixed;
    padding: 0.9375rem 0.625rem;
    width: 100%;
    height: 3.75rem;
    top: 0;
}

#main-header-shadow
{
    position: fixed;
    top: 3.75rem;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    box-shadow: #026A7B 0 0 60px 50px;
}

#main-header-account
{
    position: absolute;
    top: 0.9375rem;
    right: 0.625rem;
}

@media only screen and (max-width: 640px)
{
    #main-header-account
    {
        top: 0;
        right: 0;
    }
}