/* Form of SVG-based icons */

.logo
{
    display: block;
    width: 11.1875rem;
    height: 1.9375rem;
    display: block;
}

.icon
{
    width: 1.875rem;
    height: 1.875rem;
}

.icon.small
{
    width: 1rem;
    height: 1rem;
}

.icon.medium
{
    width: 1.25rem;
    height: 1.25rem;
}

.icon.big
{
    width: 3.75rem;
    height: 3.75rem;
}

/*
Used for SVGs that need to be stroked instead of filled
since filling is the default.
*/
.icon.stroked *
{
    fill: none;
    stroke: currentColor;
}

.icon.stroked.thick *
{
    stroke-width: 2px;
}

.arrow
{
    width: 0.9375rem;
    height: 0.625rem;
}

.arrow-up
{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}