/* A three-column layout for tabular data */

.index
{
    display: table;
    width: 100%;
}

.index-row
{
    display: table-row;
}

.index-label,
.index-value
{
    display: table-cell;
    vertical-align: top;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #EEF1F4;
}

.index-value
{
    vertical-align: middle;
}

.index-title-row .index-label,
.index-title-row .index-value
{
    border: none;
}

.index-label
{
    width: 66.6666%;
}

.index-title-row .index-label
{
    vertical-align: bottom;
    padding-bottom: 2rem;
}

.index-value
{
    width: 16.6666%;
    text-align: center;
    position: relative;
    height: 100%;
}

/**
 * We use overlapping :before and :after pseudo elements here 
 * to get around a difference in some IE versions that prevents
 * the child of a TD from having 100% height.
 */
.index-value.lined:before,
.index-value.lined:after
{
    content: ' ';
    display: block;
    position: absolute;
    height: 100%;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    background-color: currentColor;
    z-index: 0;
}

.index-value.lined:before
{
    top: -50%;
}

.index-value.lined:after
{
    bottom: -50%;
}

.index-title-row .index-value.lined:before,
.index-row:last-child .index-value.lined:after
{
    display: none;
}

.index-value-circle,
.dot.large
{
    position: relative;
    z-index: 1;
}

.index-value-circle.large
{
    white-space: nowrap;
}

@media only screen and (max-width: 640px)
{
    .index-value
    {
        width: 3.75rem;
    }
    
    .index-title-row .index-value.lined:after
    {
        width: 2rem;
        height: 2px;
        margin-left: -1rem;
        top: calc(100% - 2px);
    }
    
    .index-row:nth-child(2) .index-value.lined:before
    {
        top: 0;
    }
}

@media only screen and (min-width: 641px)
{
    .index-value-circle.large
    {
        position: relative;
        display: inline-block;
        border: 2px solid currentColor;
        border-radius: 100px;
        width: 3.125rem;
        height: 3.125rem;
        white-space: nowrap;
        background-color: #fff;
    }
}