/* Main page element layers */

#my-account
{
    z-index: 5;
}

#main-header
{
    z-index: 4;
}

#main-menu
{
    z-index: 3;
}

#personal-message
{
    z-index: 2;
}

#main-header-shadow
{
    z-index: 1;
}

#content
{
    z-index: 0;
}

/* Absolute positioning */

.centered
{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.right-centered
{
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.left-centered
{
    position: absolute;
    top: 50%;
    left: 0;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.h-centered
{
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

/* Give an element position */

.relative
{
    position: relative;
}

/* Expand to fill the containing element */

.fill-parent
{
    width: 100% !important;
    height: 100% !important;
}

/* Inline block layout */

.inline-middle
{
    display: inline-block;
    vertical-align: middle;
}

.inline-bottom
{
    display: inline-block;
    vertical-align: bottom;
}

.inline-top
{
    display: inline-block;
    vertical-align: top;
}

/* Horizontal spacing */

.hspace-half
{
    margin-right: 0.25rem
}

.hspace-1
{
    margin-right: 0.5rem;
}

.hspace-2
{
    margin-right: 1rem;
}

.hspace-3
{
    margin-right: 1.5rem;
}

.hspace-4
{
    margin-right: 2rem;
}

/* Horizontal padding */

.hpad-half
{
    padding-right: 0.25rem
}

.hpad-1
{
    padding-right: 0.5rem;
}

.hpad-2
{
    padding-right: 1rem;
}

.hpad-3
{
    padding-right: 1.5rem;
}

.hpad-4
{
    padding-right: 2rem;
}

.hpadl-half
{
    padding-left: 0.25rem
}

.hpadl-1
{
    padding-left: 0.5rem;
}

.hpadl-2
{
    padding-left: 1rem;
}

.hpadl-3
{
    padding-left: 1.5rem;
}

.hpadl-4
{
    padding-left: 2rem;
}

/* Vertical spacing */

.vspace-half
{
    margin-top: 0.25rem;
}

.vspace-1
{
    margin-top: 0.5rem;
}

.vspace-2
{
    margin-top: 1rem;
}

.vspace-3
{
    margin-top: 1.5rem;
}

.vspace-4
{
    margin-top: 2rem;
}

.vspace-5
{
    margin-top: 2.5rem;
}

/* Text alignment */

.text-center
{
    text-align: center;
}

.text-left
{
    text-align: left;
}

.text-right
{
    text-align: right;
}

/*
Works like inline-* but adjacent elements will not wrap and will
instead scale to fit.
*/
.grid
{
    display: table-row;
}

.grid > *
{
    display: table-cell;
}

.grid.top > *,
.grid-top
{
    vertical-align: top;
}

.grid.middle > *,
.grid-middle
{
    vertical-align: middle;
}

.grid.bottom > *,
.grid-bottom
{
    vertical-align: bottom;
}