/* Main menu for desktop and tablet */
@media only screen and (min-width: 641px)
{
    #main-menu
    {
        position: fixed;
        top: 0;
        bottom: 0;
        margin-top: 3.75rem;
    }

    #main-menu-expanded-background
    {
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 100%;
        background: rgba(255,255,255,0.9);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
    }

    #main-menu-bar
    {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        list-style: none;
        height: 100%;
        width: 3.125rem;
        background: transparent url(../images/overlay-background.svg) repeat-y 0 0;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
    }

    .main-menu-item
    {
        position: relative;
        width: 100%;
        line-height: 3.125rem;
        height: 3.125rem;
        padding: 0.625rem;
        color: #fff;
        stroke: #E0E6E4;
    }

    .main-menu-item.active
    {
        color: #D2D6D9;
        stroke: #fff;
    }

    .main-menu-item.selected,
    .main-menu-item.selected.active
    {
        color: #026A7B;
        background-color: #fff;
    }

    .main-menu-item .label
    {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        line-height: 3.125rem;
        height: 3.125rem;
    }

    .main-menu-item .label span
    {
        white-space: nowrap;
        margin-left: 0.625rem;
        padding: 0 0.625rem;
        background-color: #fff;
        color: #026A7C;
    }

    .main-menu-item:not(.touch):hover .label
    {
        display: block;
    }

    .main-menu-item.active .label
    {
        display: block;
    }

    .main-menu-item.active .label span
    {
        background: transparent;
    }
}

/* Main menu for small screens */
@media only screen and (max-width: 640px)
{
    #main-menu
    {
        position: fixed;
        bottom: 100%;
        top: 0;
        width: 100%;
        overflow: auto;
        margin: 0 0 3.75rem 0;
        background: rgba(255,255,255,0.9);
    }
    
    #main-menu-bar
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .main-menu-item
    {
        display: block;
        height: 3.125rem;
        line-height: 3.125rem;
        color: #026A7B;
    }
    
    .main-menu-item .icon,
    .main-menu-item .label
    {
        display: inline-block;
        vertical-align: middle;
    }
    
    .main-menu-item .icon
    {
        height: 3.125rem;
        width: 3.125rem;
        padding: 0.625rem;
        margin: 0 0.625rem 0 0;
    }
    
    .main-menu-item.selected .icon
    {
        background-color: #fff;
    }
}