/* Form and skin for lists of notes */

.notes
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.note
{
    margin: 2rem 0;
}

.note:first-child
{
    margin-top: 0;
}

.note:last-child
{
    margin-bottom: 0;
}

.note.checked
{
    color: #4A4A4A;
}

.note.checked .note-caption
{
    color: #2F8A97;
}

.note .checkmark
{
    display: none;
}

.note.checked .checkmark
{
    display: block;
}