/* Form and skin for in-page tabbed navigation */

.tab-labels
{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    background: rgba(82, 117, 139, 0.1);
    margin: 2px 2px 0 2px;
    position: relative;
    top: 2px;
    box-shadow: inset 0 -5px 3px -2px #D2D6D9;
}

.tab-label
{
    padding: 0.75rem;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    position: relative;
}

.tab-label.selected
{
    background-color: #fff;
}

.tab-label.selected:before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: -3px;
    width: 3px;
    height: 100%;
    box-shadow: inset -3px 0 3px -3px #D2D6D9;
}

.tab-label.selected:first-child:before
{
    display: none;
}

.tab-label.selected:after
{
    content: ' ';
    position: absolute;
    top: 0;
    right: -3px;
    width: 3px;
    height: 100%;
    box-shadow: inset 3px 0 3px -3px #D2D6D9;
}

.tab-content
{
    position: relative;
    top: -1px;
    background: #fff;
    display: none;
}

.tab-content.selected
{
    display: block;
}