/* Set base size, font and color for all type */

html
{
    font-family: "Agenda";
    color: #000;
}

body
{
    font-size: 14px;
    font-size: 0.875rem;
}

p,h1,h2,h3,h4,h5
{
    font-weight: normal;
    margin: 0;
}

/* Font size and weight variations */

.type-small-light
{
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 300;
}

.type-small
{
    font-size: 12px;
    font-size: 0.75rem;
}

.type-light
{
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
}

.type-body
{
    font-size: 14px;
    font-size: 0.875rem;
}

.type-large-light
{
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 300;
}

.type-large
{
    font-size: 15px;
    font-size: 0.9375rem;
}

.title-four
{
    font-size: 16px;
    font-size: 1rem;
}

.title-three
{
    font-size: 18px;
    font-size: 1.125rem;
}

.title-two
{
    font-size: 24px;
    font-size: 1.5rem;
}

.title-one
{
    font-size: 36px;
    font-size: 2.25rem;
}

.hidden-text
{
    color: rgba(0,0,0,0);
}

/* Defaults for anchors */

a
{
    text-decoration: none;
    color: inherit;
}

/* Text styles */

.type-caps
{
    text-transform: uppercase;
}

/* Inline marks */

.dot
{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: none;
    border-radius: 1rem;
    vertical-align: middle;
}

.dot.large
{
    background-color: currentColor;
    font-size: 1.125rem;
    width: 1.375rem;
    height: 1.375rem;
    line-height: 1.375rem;
    text-align: center;
    border-radius: 2rem;
}

.dot.large span
{
    color: #fff;
}