<div class="column size-1-3" data-class-small="vspace-2" data-class-medium="vspace-2">

<!-- Here for you -->
<div class="container ghost">
    <div class="container-header color-teal">
        <div class="icon sprite person-medium inline-middle hspace-half"></div>
        <h3 class="title-three inline-middle">We’re here for you</h3>
    </div>
    <div class="container-body color-gray">
        <div class="relative">
            <div class="title-three color-dark-gray">United Capital of Boston</div>
            <a class="button small hover-invert right-centered" href="#">Map</a>
        </div>
        <div class="vspace-2">
            <div class="grid top">
                <div>
                    <div class="container thumbnail color-white hspace-2">
                        <img src="images/examples/alicia-roberts.png" width="32" height="32" alt="Alicia Roberts' Profile Picture" />
                    </div>
                </div>
                <div>
                    <div class="title-four">Alicia Roberts</div>
                    <div class="type-small color-teal type-caps">Wealth Adviser</div>
                </div>
            </div>
        </div>
        <div class="vspace-2">
            <div class="grid top">
                <div>
                    <div class="container thumbnail color-white hspace-2">
                        <img src="images/examples/benjamin-andersen.png" width="32" height="32" alt="Benjamin Andersen's Profile Picture" />
                    </div>
                </div>
                <div>
                    <div class="title-four">Benjamin Andersen</div>
                    <div class="type-small color-teal type-caps">Relationship Manager</div>
                </div>
            </div>
        </div>
        <div class="vspace-2">
            <div class="grid top">
                <div>
                    <div class="container thumbnail color-white hspace-2">
                        <img src="images/examples/fred-johnson.png" width="32" height="32" alt="Fred Johnson's Profile Picture" />
                    </div>
                </div>
                <div>
                    <div class="title-four">Fred Johnson</div>
                    <div class="type-small color-teal type-caps">Director</div>
                </div>
            </div>
        </div>
        <div class="row vspace-1">
            <div class="column size-1-2 hpad-1 vspace-1">
                <a class="button full shadow-light hover-invert" href="#">Contact Us</a>
            </div>
            <div class="column size-1-2 hpad-1 vspace-1">
                <a class="button full shadow-light hover-invert" href="#">Schedule Meeting</a>
            </div>
        </div>
    </div>
</div>

<!-- Next Appointment -->
<div class="container ghost vspace-2">
    <div class="container-header color-teal">
        <div class="icon sprite calendar-detail stroked inline-middle hspace-half"></div>
        <h3 class="title-three inline-middle">Your Next Appointment</h3>
    </div>
    <div class="container-body">
        <div class="container border color-gold background-white">
            <div class="grid middle">
                <div>
                    <div class="container square background-gold-overlay hpad-1 hpadl-1 border-right hspace-1 title-one">11</div>
                </div>
                <div class="fill-parent relative">
                    <div class="type-small type-caps">August 2015</div>
                    <div class="type-small-light">Tuesday</div>
                </div>
            </div>
            <a class="button small background-gold-overlay right-centered hspace-1" href="#">Save</a>
        </div>
    </div>
</div>

<!-- Notes -->
<div class="container ghost vspace-2">
    <div class="container-header color-teal">
        <div class="icon sprite notebook inline-middle hspace-half"></div>
        <h3 class="title-three inline-middle hspace-half">Recent Notes</h3>
        <div class="dot large"><span>5</span></div>
    </div>
    <div class="container-body">
        <ul class="notes color-light-cold-gray">
            <li class="note checked">
                <div class="grid top">
                    <div class="hpad-1">
                        <div class="icon medium sprite checkbox"></div>
                    </div>
                    <div>
                        <div class="note-text">I want to invest in Tesla—how do I go about doing that?</div>
                        <div class="note-caption type-small">
                            <span class="type-caps">PORTFOLIO SNAPSHOT</span> – 1 Day
                        </div>
                    </div>
                </div>
            </li>
            <li class="note checked">
                <div class="grid top">
                    <div class="hpad-1">
                        <div class="icon medium sprite checkbox"></div>
                    </div>
                    <div>
                        <div class="note-text">I think I lost Johnny’s birth certificate. Is that worth tracking down?</div>
                        <div class="note-caption type-small">
                            <span class="type-caps">PORTFOLIO SNAPSHOT</span> – 2 Weeks
                        </div>
                    </div>
                </div>
            </li>
            <li class="note">
                <div class="grid top">
                    <div class="hpad-1">
                        <div class="icon medium sprite checkbox"></div>
                    </div>
                    <div>
                        <div class="note-text">My Uncle John just mentioned that he plans to leave me his Cessna in his will. How should we account for that? Does it make sense to leave it off?</div>
                        <div class="note-caption type-small">
                            <span class="type-caps">PORTFOLIO SNAPSHOT</span> – 1 Month
                        </div>
                    </div>
                </div>
            </li>
            <li class="note">
                <div class="grid top">
                    <div class="hpad-1">
                        <div class="icon medium sprite checkbox"></div>
                    </div>
                    <div>
                        <div class="note-text">I think I lost Johnny’s birth certificate. Is that worth tracking down?</div>
                        <div class="note-caption type-small">
                            <span class="type-caps">PORTFOLIO SNAPSHOT</span> – 2 Months
                        </div>
                    </div>
                </div>
            </li>
            <li class="note checked">
                <div class="grid top">
                    <div class="hpad-1">
                        <div class="icon medium sprite checkbox"></div>
                    </div>
                    <div>
                        <div class="note-text">I think I lost Johnny’s birth certificate. Is that worth tracking down?</div>
                        <div class="note-caption type-small">
                            <span class="type-caps">PORTFOLIO SNAPSHOT</span> – 2 Months
                        </div>
                    </div>
                </div>
            </li>
            <li class="note checked">
                <div class="grid top">
                    <div class="hpad-1">
                        <div class="icon medium sprite checkbox"></div>
                    </div>
                    <div>
                        <div class="note-text">My Uncle John just mentioned that he plans to leave me his Cessna in his will. How should we account for that? Does it make sense to leave it off?</div>
                        <div class="note-caption type-small">
                            <span class="type-caps">PORTFOLIO SNAPSHOT</span> – 1 Month
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <a class="button shadow-light hover-invert vspace-2" href="#">Mark All as Read</a>
    </div>
</div>
</div>