<header id="main-header" class="background-dark">
    <a href="#" class="color-white">
        <div class="sprite logo"></div>
    </a>
    <div id="main-header-account">
        <a href="#" class="show-account color-white hide-small">
            <span class="type-body inline-middle hspace-1">David Thompson</span>
            <div class="inline-middle hspace-1 sprite arrow arrow-down"></div>
            <div class="inline-middle container thumbnail">
                <img src="images/examples/david-thompson.png" width="32" height="32" alt="David Thompson's Profile Picture" />
            </div>
        </a>
        <div class="only-small">
            <a id="small-menu-trigger" class="color-white hspace-1 inline-middle" href="#">Menu</a>
            <a id="add-note" href="#"><div class="icon big sprite journal color-dark-teal background-light inline-middle"></div></a>
        </div>
    </div>
</header>
<nav id="main-menu">
    <div id="main-menu-expanded-background"></div>
    <ul id="main-menu-bar">
        <li class="main-menu-item selected">
            <a href="#dashboard">
                <div class="icon sprite home"></div>
                <div class="label"><span>Dashboard</span></div>
            </a>
        </li>
        <li class="main-menu-item">
            <a href="#financial-goals">
                <div class="icon sprite flag"></div>
                <div class="label"><span>Financial Goals</span></div>
            </a>
        </li>
        <li class="main-menu-item">
            <a href="#net-worth">
                <div class="icon sprite piggy-bank"></div>
                <div class="label"><span>Net Worth</span></div>
            </a>
        </li>
        <li class="main-menu-item">
            <a href="#portfolio-snapshot">
                <div class="icon sprite graph"></div>
                <div class="label"><span>Portfolio Snapshot</span></div>
            </a>
        </li>
        <li class="main-menu-item">
            <a href="#money-mind">
                <div class="icon sprite head"></div>
                <div class="label"><span>Money Mind</span></div>
            </a>
        </li>
        <li class="main-menu-item">
            <a href="#priority-action-list">
                <div class="icon sprite card-stack"></div>
                <div class="label"><span>Priority Action List</span></div>
            </a>
        </li>
        <li class="main-menu-item">
            <a href="#document-vault">
                <div class="icon sprite secure-folder"></div>
                <div class="label"><span>Document Vault</span></div>
            </a>
        </li>
        <li class="only-small main-menu-item">
            <a href="#" id="account-menu-small" class="show-account">
                <div class="icon">
                    <div class="container thumbnail">
                        <img src="images/examples/david-thompson.png" width="32" height="32" alt="David Thompson's Profile Picture" />
                    </div>
                </div>
                <div class="label">My Account</div>
            </a>
        </li>
    </ul>
</nav>
<div id="main-header-shadow"></div>