<!DOCTYPE html>
<html ng-app="docVault">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>United Capital - Document Vault</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="background-photo" ng-controller="vaultController">

    <top-area></top-area>

    <div id="personal-message" class="color-white">
        <h2 class="title-two vspace-1">Secure Document Vault</h2>
    </div>

    <div id="content" flow-init="{target: '/uploads'}" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message">

        <div class="row">
            <div class="column size-2-3">
                <div data-class-large="hspace-2" class="hspace-2">

                    <p class="color-white">Quinoa tilde truffaut fanny pack portland listicle austin. Brooklyn vegan letterpress, bitters tacos chia aesthetic cold-pressed marfa sriracha tousled literally paleo actually. Cred meditation meh blue bottle. Actually tattooed helvetica, thundercats street art pabst cliche meggings.</p>

        <!-- FOLDERS AND DOCUMENTS -->


                    <div class="container shadow vspace-2">
                        <div class="container-header">
                            <h3 class="title-three color-dark-teal inline-middle">My Secure Documents</h3>
                        </div>
                        <div class="container-body">

                            <div class="row">

                                <div class="column size-2-3 hpad-1 vspace-2 relative">
                                    <input type="text" style="width: 100%;" label="search" placeholder="Search Documents"></input>
                                    <button class="glyphicon glyphicon-search search-icon"></button>
                                </div>

                                <div class="column size-1-3 hpad-1 vspace-2">
                                    <span toggle-new-folder class="newFolderButton button full shadow-light background-purple color-white"><span class="glyphicon glyphicon-plus"></span>New Folder</span>
                                </div>

                                <div class="column size-3-3 hpad-1 vspace-2 relative addNewFolderArea">
                                    <form ng-submit="saveFolder(folderArea)">
                                        <input type="text" style="width: 100%;" ng-model="folderArea.folder" placeholder="New Folder Name"></input>
                                        <button toggle-new-folder type="submit" class="glyphicon glyphicon-upload upload-icon"></button>
                                    </form>
                                </div>

                            </div>

                            <div class="documents-container" flow-init="{target: '/uploads'}" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message">


                                <!-- FOLDER AREA -->
                                <div class="folder-area" flow-drop>

                                    <div class="folder-name-area" toggle-files>

                                        <div class="folder-name"><span class="glyphicon glyphicon-folder-close"></span>Insurance</div>

                                    </div>

                                    <!-- FILES IN FOLDER -->
                                    <div class="files-area">

                                        <div class="file-info" ng-repeat="file in $flow.files">
                                            <span class="glyphicon glyphicon-file"></span>

                                            {{file.name}}  -  {{file.size / 1024 / 1024 | number:2}} MB

                                            <div class="progress-container">
                                                <div class="progress-bar-area progress-striped" ng-class="{active: file.isUploading()}" ng-show="file.isUploading()">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress() * 100}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}"></div>
                                                </div>

                                                <span class="remove-file-button" ng-show="!file.isUploading()" ng-click="file.cancel()"><span class="glyphicon glyphicon-trash color-purple"></span></span>

                                            </div>

                                        </div>

                                        <span class="file-upload-button file" flow-btn><span class="glyphicon glyphicon-plus"></span>Add New File</span>

                                    </div>

                                </div>
                                <!-- END FOLDER AREA -->





                                <div>

                                    <div ng-repeat="folder in theVault">

                                        <div class="folder-area">

                                            <div class="folder-name-area">
                                                <div class="folder-name" toggle-files>
                                                    <span class="glyphicon glyphicon-folder-close"></span>
                                                    <span ng-hide="editorEnabled">{{folder.folder}}
                                                    </span>
                                                </div>
                                                <form class="folder-name-update relative" ng-show="editorEnabled" ng-submit="saveFolder(folder)">
                                                    <input type="text" ng-model="folder.folder" value="{{folder.folder}}"></input>
                                                    <button toggle-new-folder type="submit" class="glyphicon glyphicon-upload upload-icon" ng-click="editorEnabled=!editorEnabled"></button>
                                                </form>
                                                <span class="glyphicon glyphicon-pencil edit-folder-icon" ng-click="editorEnabled=!editorEnabled"></span>
                                                <span class="glyphicon glyphicon-trash" ng-click="deleteFolder(folder)"></span>
                                            </div>

                                            <div class="files-area">
                                                <div class="file-info" ng-repeat="file in folder.files">
                                                    <span class="glyphicon glyphicon-file"></span>{{file.name}}  -  {{file.size}}
                                                    <div class="progress-container">
                                                        <span class="remove-file-button" ng-click="deleteDocument(file)"><span class="glyphicon glyphicon-trash color-purple"></span></span>
                                                    </div>
                                                </div>

                                                <span class="file-upload-button file" flow-btn><span class="glyphicon glyphicon-plus"></span>Add New File</span>

                                            </div>

                                        </div>

                                    </div>

                                </div>





                            </div>
                        </div>
                    </div>

        <!-- END FOLDERS AND DOCUMENTS -->



                </div>
            </div>

            <!-- Sidebar -->

            <sidebar-code></sidebar-code>

        </div>
    </div>
    <div id="my-account" class="background-white container square shadow">
        <div class="text-right">
            <a href="#" class="button raised inline-middle hspace-1">Log Out</a>
            <a href="#" class="button raised inline-middle hspace-2">Edit my profile</a>
            <a href="#" class="hide-account color-dark-gray inline-middle">
                <span class="type-body inline-middle hspace-1">David Thompson</span>
                <div class="inline-middle hspace-1 sprite arrow arrow-up"></div>
                <div class="inline-middle container thumbnail">
                    <img src="images/examples/david-thompson.png" width="32" height="32" alt="David Thompson's Profile Picture" />
                </div>
            </a>
        </div>
    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/jquery.transit.js"></script>
    <script src="js/svgmap.js"></script>
    <script src="js/responsive.js"></script>
    <script src="js/navigation-menu.js"></script>
    <script src="js/graphs.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/account.js"></script>
    <script src="js/collapse.js"></script>



    <!-- Angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="js/ng-flow-standalone.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-resource.min.js"></script>

    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-- /Angular -->

    <script src="js/main.js"></script>

</body>
</html>